@use 'sections';
@import 'variables';

@mixin fontFamily {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
  }

@mixin fondo {
  background-image: linear-gradient(to right, #ff0000, #0000ff);
}  
@mixin fondo2 {
    background-image: radial-gradient(circle at center, #ff3366, #66ccff);
    padding: 10vh 10vw;
  }  
@mixin estilo1{
        width: 100%;
        text-align: center;
        font-family: sans-serif;
        letter-spacing: 3px;
        text-transform: capitalize;
}

@mixin position{
    text-align: center;

}

@mixin estilo2{
        font-weight: bolder;
        font-style: italic;
        color: $TextColorThree;
        background-color: $TextColortwo;
        font-family: sans-serif;
        background-color: $backgroundColor2;
    }
    

@mixin estilo3{
    font-weight: normal;
    font-family: serif;
    font-size: medium;
    color: bisque;
    background-color: aqua;
    border-color: none;
    border-radius: 50px;
}

@mixin flexColumn{
    display: flex;
    width: 100%;
    height: 200px;
    flex-direction: column-reverse;
}

@mixin flexRow{
    display: flex;
    width: 100%;
    height: 200px;
    flex-direction: row;
    padding: 35px;
}
main{
    @include fondo;
    @include flexRow();
    @include position();
}
header h1 {
    @include estilo1;
    @include fondo2;
    @include fontFamily;
}



